@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: hsl(225, 20%, 60%);
    background: hsl(230, 100%, 99%) url("./images/bg-pattern.svg") no-repeat;
}
.main{
    width: 85vw;
    max-width: 34rem;
    margin: 4rem auto;
}
.head{
    text-align: center;
    color: hsl(227, 35%, 25%);
    background: url("./images/pattern-circles.svg") no-repeat center;
    padding: 2.25rem 0;
}
.heading{
    font-size: 1.9em;
    font-weight: 800;
    margin: 0.5rem 0;
}
.description{
    font-size: 1em;
    margin: 1rem 0;
}
.component{
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02),
                0 4px 4px rgba(0, 0, 0, 0.02),
                0 8px 8px rgba(0, 0, 0, 0.02),
                0 16px 16px rgba(0, 0, 0, 0.02),
                0 24px 24px rgba(0, 0, 0, 0.02);
    margin: 3rem 0;
}
.pricing-section, .features-section{
    padding: 2rem 3rem;
}
.pricing-operator{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.views{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.rate{
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 0.45rem;
}
.rate-count{
    color: hsl(227, 35%, 25%);
    font-size: 2.5em;
    font-weight: 800;
}
.slider{
    grid-area: 2 / 1 / span 2 / span 2;
    -webkit-appearance: none;
    height: 0.5rem;
    outline: none;
    background: linear-gradient(to right,
                             hsl(174, 77%, 80%) 0%, hsl(174, 77%, 80%) 50%,
                             hsl(224, 65%, 95%) 50%, hsl(224, 65%, 95%) 100%);
    border-radius: 5px;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 2.75rem;
    height: 2.75rem;
    background: hsl(174, 86%, 45%) url("./images/icon-slider.svg") no-repeat center;
    box-shadow: 0 4px 4px 4px hsla(174, 86%, 45%, 0.12),
                0 8px 8px 4px hsla(174, 86%, 45%, 0.12),
                0 16px 16px 4px hsla(174, 86%, 45%, 0.12),
                0 32px 32px 4px hsla(174, 86%, 45%, 0.12),
                0 40px 40px 4px hsla(174, 86%, 45%, 0.12);
    border-radius: 50%;
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover{
    opacity: 0.7;
}
.slider::-webkit-slider-thumb:active{
    background-color: hsl(174, 86%, 35%);
    opacity: 1;
}
.toggle-button{
    width: 100%;
    height: 1rem;
    text-align: center;
}
.duration-selector{
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    align-items: center;
    margin: 2rem -1rem 0;
    font: 0.6em;
    gap: 1rem;
}
.duration:first-child{
    text-align: right;
}
.duration span{
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    border-radius: 10px;
    padding: 0 5px;
    font-size: 0.75em;
    margin-left: 5px;
}
.toggle-button{
    width: 40px;
    height: 20px;
    position: relative;
    display: inline-block;
}
#checkbox{
    opacity: 0;
    width: 0;
    height: 0;
}
.toggler{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: hsl(223, 50%, 87%);
    border-radius: 12px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.toggler::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: hsl(0, 0%, 100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.toggler:hover{
    background-color: hsl(174, 86%, 45%);
}
#checkbox:checked + .toggler::before{
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.desktop{
    display: inline-block;
}
.mobile{
    display: none;
}
.features-section{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid hsl(223, 50%, 87%);
}
.features{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.items p{
    margin: 0;
    font-size: 0.85em;
}
.button{
    padding: 0.75rem 2.45rem;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    font-size: 0.85em;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width: 425px){  
    body{
        font-size: 13px;
    }
    .main{
        margin: 3rem auto;
    }
    .heading{
        font-size: 1.5em;
    }
    .description{
        width: 70%;
        margin: auto;
    }
    .pricing-operator{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .pricing-section, .features-section{
        padding: 1.5rem 2rem;
    }
    .slider{
        order: 2;
        width: 100%;
    }
    .views{
        order: 1;
    }
    .rate{
        order: 3;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: inline-block;
    }
    .duration-selector{
        gap: 0.5rem;
        margin: 0 -2rem;
    }
    .features-section{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .features{
        align-items: center;
        gap: 1rem;
    }
    .button{
        width:40%;
        text-align: center;
        margin: 1rem auto 0;
    }
}